html,
body,
div,
p,
ul,
li,
ol,
dl,
dt,
dd,
header,
footer,
video,
h1,
h2,
h3,
h4,
canvas,
section,
figure {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html,
body {
  height: 100%;
}
img {
  border: none;
  vertical-align: top;
  width: 100%;
  height: 100%;
}
input,
textarea {
  outline: none;
}
.transform3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}
body {
  font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  font-weight: normal;
}
@font-face {
  font-family: 'xjlFont';
  src: url(../font/xjlFont.ttf) format('truetype');
}
@font-face {
  font-family: 'hyxctFont';
  src: url(../font/hyxctFont.ttf) format('truetype');
}
<<<<<<< HEAD
body {
  background: #e5e5e5 url(../images/background.png);
}
=======
>>>>>>> master
.header {
  width: 100%;
  height: 200px;
  background: #bb0000 linear-gradient(to right bottom, #0d4680, #051432) repeat scroll 0 0;
}
.header .header-content-clock {
  width: 300px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0;
  left: 0;
}
.header .header-content-title {
  font-size: 48px;
  font-family: 'hyxctFont';
  width: 600px;
  height: 200px;
  position: absolute;
  left: 35%;
  top: 0;
  line-height: 200px;
}
.header .header-content-title ul {
  width: 100%;
  height: 100%;
}
.header .header-content-title ul li {
  float: left;
<<<<<<< HEAD
  color: rgba(13, 13, 23, 0.5);
=======
  color: rgba(13, 203, 23, 0.5);
>>>>>>> master
  -webkit-transform: translate3d(4000px, 0px, 0px);
  transform: translate3d(4000px, 0px, 0px);
}
.header .header-content-title ul li:nth-of-type(1) {
  -webkit-animation: bounceInRight 0.5s forwards;
  animation: bounceInRight 0.5s forwards;
}
.header .header-content-title ul li:nth-of-type(2) {
  -webkit-animation: bounceInRight 0.5s 0.5s forwards;
  animation: bounceInRight 0.5s 0.5s forwards;
}
.header .header-content-title ul li:nth-of-type(3) {
  -webkit-animation: bounceInRight 0.5s 1s forwards;
  animation: bounceInRight 0.5s 1s forwards;
}
.header .header-content-title ul li:nth-of-type(4) {
  -webkit-animation: bounceInRight 0.5s 1.5s forwards;
  animation: bounceInRight 0.5s 1.5s forwards;
}
.header .header-content-title ul li:nth-of-type(5) {
  -webkit-animation: bounceInRight 0.5s 2s forwards;
  animation: bounceInRight 0.5s 2s forwards;
}
.header .header-content-title ul li:nth-of-type(6) {
  -webkit-animation: bounceInRight 0.5s 2.5s forwards;
  animation: bounceInRight 0.5s 2.5s forwards;
}
.header .header-content-title ul li:nth-of-type(7) {
  -webkit-animation: bounceInRight 0.5s 3s forwards;
  animation: bounceInRight 0.5s 3s forwards;
}
.header .header-content-title ul li:nth-of-type(8) {
  -webkit-animation: bounceInRight 0.5s 3.5s forwards;
  animation: bounceInRight 0.5s 3.5s forwards;
}
.header .header-content-title ul li:nth-of-type(9) {
  -webkit-animation: bounceInRight 0.5s 4s forwards;
  animation: bounceInRight 0.5s 4s forwards;
}
.header .header-content-title ul li:nth-of-type(10) {
  -webkit-animation: bounceInRight 0.5s 4.5s forwards;
  animation: bounceInRight 0.5s 4.5s forwards;
}
<<<<<<< HEAD
.main {
  width: 80%;
  margin: 0 auto;
}
=======
>>>>>>> master
